.wrapper {
  width: min(100% - 40px, 75rem);
  margin-inline: auto;
}

/* Typography */
.text-display-large {
  font-size: 3.5625rem;
  line-height: 4rem;
  letter-spacing: -0.015625rem;
}

.text-display-medium {
  font-size: 2.8125rem;
  line-height: 3.25rem;
}

.text-display-small {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.text-headline-large {
  font-size: 2rem;
  line-height: 2.5rem;
}

.text-headline-medium {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.text-headline-small {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-body-large {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-body-medium {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.text-label-large {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;
}

.text-label-medium {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.3125rem;
}

.text-title-large {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text-title-medium {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-title-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  /* shrink to a 1px square */
  width: 1px;
  height: 1px;

  /* hide any resulting overflow */
  overflow: hidden;

  /* ensure proper text announcement by screen readers */
  white-space: nowrap;

  /* clip the element to remove any visual trace */
  clip: rect(0 0 0 0); /* for IE only */
  clip-path: inset(50%);
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 999px;
}

.btn svg {
  width: 1em;
  height: 1em;
}

.btn:hover {
  opacity: 0.92;
}

.btn-primary {
  color: var(--on-primary-container);
  background-color: var(--primary-container);
}

.btn-small {
  gap: 8px;
  padding-inline: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

.btn-medium {
  gap: 8px;
  min-height: 3.5rem;
  padding-inline: 24px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

.card {
  padding: 16px;
  text-align: start;
  border-radius: 12px;
}

.card-filled {
  color: var(--on-surface);
  background-color: var(--surface-container-highest);
}

.card-filled:hover {
  opacity: 0.92;
}

.card-elevated {
  color: var(--on-surface);
  background-color: var(--surface-container-low);
  box-shadow: var(--shadow-elevation-low);
}

.auto-grid {
  --min-col-size: 200px;
  --gap-size: 1rem;
  --overflow-prevent: 100%;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col-size), var(--overflow-prevent)), 1fr)
  );
  gap: var(--gap-size);
}
