:root {
  /* --primary: rgb(180 255 231);
  --surface-tint: rgb(135 214 189);
  --on-primary: rgb(0 0 0);
  --primary-container: rgb(131 210 185);
  --on-primary-container: rgb(0 14 9);
  --secondary: rgb(219 246 235);
  --on-secondary: rgb(0 0 0);
  --secondary-container: rgb(174 200 190);
  --on-secondary-container: rgb(0 14 9);
  --tertiary: rgb(226 242 255);
  --on-tertiary: rgb(0 0 0);
  --tertiary-container: rgb(165 199 222);
  --on-tertiary-container: rgb(0 13 22);
  --error: rgb(255 236 233);
  --on-error: rgb(0 0 0);
  --error-container: rgb(255 174 164);
  --on-error-container: rgb(34 0 1);
  --background: rgb(15 21 18);
  --on-background: rgb(222 228 224);
  --surface: rgb(15 21 18);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(63 73 69);
  --on-surface-variant: rgb(255 255 255);
  --outline: rgb(232 242 237);
  --outline-variant: rgb(187 197 192);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(222 228 224);
  --inverse-on-surface: rgb(0 0 0);
  --inverse-primary: rgb(0 82 66);
  --primary-fixed: rgb(162 242 217);
  --on-primary-fixed: rgb(0 0 0);
  --primary-fixed-dim: rgb(135 214 189);
  --on-primary-fixed-variant: rgb(0 21 15);
  --secondary-fixed: rgb(205 233 222);
  --on-secondary-fixed: rgb(0 0 0);
  --secondary-fixed-dim: rgb(178 204 194);
  --on-secondary-fixed-variant: rgb(0 21 15);
  --tertiary-fixed: rgb(196 231 255);
  --on-tertiary-fixed: rgb(0 0 0);
  --tertiary-fixed-dim: rgb(169 203 226);
  --on-tertiary-fixed-variant: rgb(0 19 30);
  --surface-dim: rgb(15 21 18);
  --surface-bright: rgb(75 81 78);
  --surface-container-lowest: rgb(0 0 0);
  --surface-container-low: rgb(27 33 30);
  --surface-container: rgb(43 50 47);
  --surface-container-high: rgb(54 61 58);
  --surface-container-highest: rgb(66 72 69); */
  --primary: rgb(0 51 40);
  --surface-tint: rgb(16 107 87);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(0 84 67);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(25 48 41);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(54 78 70);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(8 48 66);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(43 77 96);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(96 0 4);
  --on-error: rgb(255 255 255);
  --error-container: rgb(152 0 10);
  --on-error-container: rgb(255 255 255);
  --background: rgb(245 251 246);
  --on-background: rgb(23 29 27);
  --surface: rgb(245 251 246);
  --on-surface: rgb(0 0 0);
  --surface-variant: rgb(219 229 223);
  --on-surface-variant: rgb(0 0 0);
  --outline: rgb(37 46 43);
  --outline-variant: rgb(66 75 71);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(43 50 47);
  --inverse-on-surface: rgb(255 255 255);
  --inverse-primary: rgb(135 214 189);
  --primary-fixed: rgb(0 84 67);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(0 58 46);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(54 78 70);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(32 55 48);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(43 77 96);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(17 54 73);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(180 186 182);
  --surface-bright: rgb(245 251 246);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(236 242 238);
  --surface-container: rgb(222 228 224);
  --surface-container-high: rgb(208 214 210);
  --surface-container-highest: rgb(194 200 196);

  --shadow-color: 130deg 12% 61%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
