---
import "modern-normalize/modern-normalize.css";
import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/main.css";
import "../styles/utilities.css";

const { title = "Gunnwook Ahn" } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator}>
		<meta name="description" content="Gunnwook's Portfolio">
		<link rel="icon" href="/code.svg" type="image/x-icon">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
